body{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}
.main {
    padding: 10px 190px 10px 190px;
}
h1{
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.contents-item img{ 
    float:left;
    margin-right: 40px;
    margin-top: 25px;
    height: 450px;
    width: auto;
}
